# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/wuya7606/sophie-bluel/Backend"
PassengerBaseURI "/"
PassengerNodejs "/home/wuya7606/nodevenv/sophie-bluel/Backend/16/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/wuya7606/logs/sophie-bluel-passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END