/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	flex: 0 1 auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.btn-primary {
	font-family: 'Syne';
	font-weight: 700;
	padding: 12px 48px;
	color: white;
	background-color: #1D6154;
	margin : 1.8em auto ;
	text-align: center;
	border-radius: 60px;
	font-size: 1.2em;
	border: none;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], input[type="button"] {
	font-family: 'Syne';
	font-weight: 700;
	padding: 12px 48px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px;
	font-size: 1.2em;
	border: none;
}

input[type="submit"]:hover, input[type="button"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Custom CSS start here */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #FFFEF8;
}

.base-link {
	text-decoration: none;
	color: black;
	font-family: 'Work Sans';
	cursor: pointer;
}

.base-link:hover {
	color: rgb(78, 78, 78);
}

.body-flex {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-fit-content {
	flex: 1 1 auto;
}

input:focus {
	outline: none;
}

footer {
	flex: 0 1 auto;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin: 48px 0;
}

.filters button {
	font-family: 'Syne';
	color: #1D6154;
	border: 1px solid #1D6154;
	white-space: nowrap;
	margin: 0;
	padding: 8px 16px;
	border-radius: 60px;
	background-color: white;
	font-size: 16px;
	transition: background-color 0.2s;
}

.filters button:hover, .filters button:focus {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

.filters-focus {
	background-color: #1D6154;
	color: white;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #B1663C;
	cursor: pointer;
}

/* login form */
.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login {
	display: flex;
	flex-direction: column;
	min-width: 380px;
}

.login-container h2 {
	margin: 65px 0 40px 0;
}

.login-container label {
	margin-bottom: 8px;
}

.login-container a {
	color: black;
}

.input-field {
	margin-bottom: 32px;
	height: 48px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	font-size: 1.2em;
}

/* Error message log in form */
.error-msg {
	background-color: #d07b7bcf;
	margin-top: 16px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 380px;
}

/*edition mode */
.header-edition {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(14, 13, 13);
}

.header-edition span {
	color: white;
	margin: 20px;
}

.header-edition span i {
	margin: 0 8px;
}

.header-edition button {
	padding: 8px 20px;
	border-radius: 60px;
	cursor: pointer;
	border-style: none;
	background-color: white;
}

.my-project {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 120px 0 80px 0;
}

/*Style the edit button to edit project when login */
#introduction figcaption {
	margin: 16px auto;
	width: 80%;
}

.my-project a:hover {
	color: rgb(78, 78, 78);
}

.my-project i {
	margin-left: 32px;
	margin-right: 8px;
}

/*edit modal*/
/*opacity background */
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
	animation: fadeIn .3s both;
}

/* modal contener */
.modal-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
	border-radius: 10px;
	width: 630px;
	max-width: calc(100vw - 20px);
	height: 730px;
	max-height: calc(100vh - 20px);
	padding: 56px 100px 40px 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: zoomIn .5s;
}

#close-modal {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 24px;
	right: 32px;
}

.modal-wrapper h2 {
	font-family: 'Work Sans';
	color: black;
	font-size: 26px;
	margin-bottom: 40px;
}

.modal-wrapper hr {
	width: 100%;
	border-top-width: 0px;
	color: #B3B3B3;
	margin-top: 40px;
}

.delete-link {
	color: #D65353;
	text-decoration: none;
	font-family: 'Syne';
}

.gallery-modal {
	display: grid;
	grid-column-gap: 8px;
	grid-row-gap: 16px;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
}

.gallery-modal img {
	width: 100%;
}

.gallery-modal figure {
	position: relative;
}

.edit-icons {
	position: absolute;
	top: 8px;
	right: 8px;
	background: black;
	border-radius: 4px;
	padding: 4px;
	border-width: 0;
	cursor: pointer;
}

.edit-icons i {
	color: white;
}

.modal[data-show="false"] {
	animation-name: fadeOut;
}

.modal[data-show="false"] .modal-wrapper {
	animation-name: zoomOut;
}

/*modal window animation*/
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes zoomIn {
	from {transform: scale(0.7);}
	to {transform: scale(1);}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes zoomOut {
	from {transform: scale(1);}
	to {transform: scale(0.7);}
}
